html, body {
    min-height: 99%;
    height: 99%;
    margin: 0;
    padding: 0;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

p {
    margin: 0;
    color: #666666;
}

a {
    color: grey;
    text-decoration: none;
}

textarea {
    resize: none;
    color: grey;
    border-radius: 10px;
}

#tokenForm1 {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}

#token-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

#token-box {
    -ms-word-break: break-all;
    word-break: break-all;
}

#result-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
    margin: 0 20px 10px 20px;
    border-bottom: 1px inset;
}

#result-box {
    display: grid;
    grid-gap: 5px 20px;
    margin-top: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#result-box > div {
    display: flex;
    flex-direction: column;
    min-height: 120px;

}

#result-box > div:nth-of-type(even) {
    grid-row: 2;
}

#result-box > div > b {
    color: #525252;
    border-bottom: 1px solid;
}

#tlink-license-box{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
}

#tlink-license-box > span > p{
    font-size: 12px;
}

#tlink-box{
    color: #525252;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tlink-box > a:hover{
    background-color: grey;
    color: lightgreen;
}

#tlink-box > a{
    transition: background-color 1s ease;
    font-size: 12px;
    padding: 2px;
    font-weight: bold;
    background-color: #525252;
    color: lawngreen;
}

#license-date-box{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: auto;
    font-weight: bold;
}

/*#result-text-box > p:nth-of-type(1) {*/
/*font-weight: bold;*/
/*color: green;*/
/*}*/

/*#result-text-box > p:nth-of-type(2) {*/
/*font-weight: bold;*/
/*color: red;*/
/*}*/

#validation-result-text-box {
    display: flex;
    align-items: center;
}

#validation-result-text-box > div:nth-of-type(2) > p {
    font-weight: bold;
    color: #fff;
}

#validation-result-text-box > div:nth-of-type(2) {
    margin-left: auto;
}

#valid-text-box {
    display: flex;
    align-self: start;
    background-color: green;
}

#valid-text-box > p {
    font-weight: bold;
    color: #fff;
}

#invalid-text-box {
    display: flex;
    align-self: start;
    background-color: red;
}

#invalid-text-box > p {
    font-weight: bold;
    color: #fff;
}

#form-button-box {
    align-self: flex-end;
}

#form-button-box > a:nth-of-type(1) {
    padding: 5px;
    margin-right: 10px;
}

#form-button-box > a:nth-of-type(1):hover {
    color: #525252;
}

#form-button-box > input:nth-of-type(1) {
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: #525252;
    font-weight: bold;
    color: #fff;
}

#form-button-box > input:nth-of-type(1):active {
    cursor: progress;
}

#form-button-box > input:nth-of-type(1):hover {
    background-color: grey;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


